.card {
  margin: 1rem auto;
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  width: 90%;
  /* max-width: 40rem; */
  cursor: pointer;
}

.card:hover {
  box-shadow: 3px 3px 5px rgba(255, 255,255, 0.3);
  background: #d5d0d0;
}